@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Koh Santepheap", sans-serif;
  margin: 0% 25% 0% 25%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-bottom: 5%;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 15vw;
}
header ul li {
  font-weight: 500;
  font-size: 15px;
}

main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10%;
}
main section .cardapio_b {
  margin-top: 20px;
}
main h5 {
  font-size: 20px;
  font-weight: 400;
  color: #FF0000;
  padding-bottom: 10px;
}
main h2 {
  font-weight: 400;
  font-size: 30px;
  color: #232323;
  line-height: 35px;
}
main p {
  font-family: "Popins", sans-serif;
  color: #232323;
  line-height: 2vh;
}
main .img1 {
  width: 300px;
}
main .img2 {
  width: 450px;
}
main #h2 {
  text-align: center;
  padding-bottom: 125px;
}
main .main_section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main_section3 section {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main_section3 .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F5F2;
  width: 15vw;
  height: 32.5vh;
  top: 1678px;
  left: 1184px;
  border-radius: 16px;
  text-align: center;
}
main .main_section3 .card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -6vh;
}
main .main_section3 .card p {
  width: 90%;
  font-size: 0.85rem;
}
main .main_section3 .card h2 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}
main .main_section3 .card img {
  position: relative;
  bottom: 85px;
  width: 75%;
}
main .main_section3 .card h5 {
  padding-top: 10px;
  font-size: 1.5rem;
}
main .main_section4 {
  justify-content: space-between;
}
main .main_section4 .card_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  background-color: #F8F5F2;
  width: 24.5vw;
  height: 32vh;
  top: 2346px;
  left: 976px;
  gap: 20px;
  border-radius: 16px;
  padding: 2.5%;
}
main .main_section4 .card_2 img {
  width: 20%;
}
main .main_section4 .card_2 .star {
  width: 30%;
}
main .main_section4 .card_2 h2 {
  font-size: 1.5rem;
}
main .main_section4 .card_2 p {
  font-size: 1.2rem;
}

footer .footer_section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

div {
  flex-direction: column;
}
div p {
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
}
div nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
div nav a {
  padding-bottom: 10px;
  text-decoration: none;
  color: #232323;
}

.footer_section2 {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_section2 h2 {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  color: #F8F5F2;
  background-color: #FF0000;
  border: none;
  width: 7vw;
  height: 3.5vh;
  border-radius: 50px;
}

.divider {
  background: #F8F5F2;
  border-top: 1px solid #F8F5F2;
}

.h2 {
  padding-bottom: 25px;
}

#h2_comments {
  text-align: center;
  padding-bottom: 50px;
}/*# sourceMappingURL=style.css.map */